.example-viewport {
  height: 300px;
  width: 400px;
  border: 1px solid #c0ccda;
  border-radius: 10px;
}

.example-item {
  height: 50px;
}

.example-item {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-bottom: 1px solid #c0ccda;
}
